.container__icon {
  margin: 0 10px 0 0 ;
  padding: 0;
  height: 16px;
  width: 16px;
  /* background: red; */
  background-image: url(../../../images/down_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}