.switch {
  margin: 25px;
  padding: 0;
  position: relative;
  background-color: #eee;
  border: solid 1px #ccc;
  border-radius: 25px;
  width: 50px;
  height: 24px;
  cursor: pointer;
  outline: none;
}